# App
APP_ENV=development
APP_PORT=8090

# Postgres
POSTGRES_DB=demotask
POSTGRES_USER=demotask
POSTGRES_PASSWORD=demotask123
POSTGRES_PORT=5432

# Ngrok (optional, for PayPal webhook)
NGROK_AUTHTOKEN=
# Optional reserved domain can be added manually in docker-compose command
# e.g. --domain=your-subdomain.ngrok.app
